<div class="user">
  <%= image_tag user.avatar_url, :class => 'avatar' %>
  <div class="details">
    <div class="username"><%= link_to user.username, user.permalink_url %></div>
    <% if user.city || user.country %>
      <div class="from"><%= user.city %> <%= user.country %></div>
    <% end %>
    <div class="tracks">Tracks: <%= user.track_count %></div>
  </div>
</div>
