<div class="row home_header">
  <div class="span6 listen_pledge">
    Listen Pledge
  </div>
  <div class="span6 features">
    <ul class="unstyled">
      <li>Pick one of your Soundcloud tracks and share it</li>
      <li>We pair you with someone else's shared track</li>
      <li>You both <em>pledge</em> to <em>listen</em> and provide feedback</li>
      <li>Simple!</li>
    </ul>
  </div>
  <div class="span12 centered" style="margin-top: 40px">
    <%= link_to image_tag('btn-connect-sc-l.png'), user_omniauth_authorize_path(:soundcloud) %>
  </div>
</div>

<div class="row">
  <h1>Site news</h1>
  <div class="span12 news">
    <div class="news-item">
      <b>2013-02-07:</b> The pairing algorithm has (finally!) been updated. From now on, you will no longer be paired with a song that you have already commented on.
      This change is retroactive to the start of the site, so you should never get a repeat again. That doesn't mean you won't be matched with the same user, just never
      the same song. Most. Requested. Feature. <em>--Travis</em>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="row">
    <div class="span4 centered">
      <%= render :partial => 'users/user', :locals => {:user => current_user}%>
      <%= link_to 'Log out', destroy_user_session_path %>
    </div>
    <div class="span4">
      <% if @pairing || !@eligible_songs.empty? %>
        <%= link_to 'View your current song pairing', pairing_users_path %>
      <% else %>
        <%= link_to 'Import a song now', import_songs_path %>
      <% end %>
    </div>
  </div>
<% end %>
