<div class="row top">
  <div class="span12 bigheader">
    Import from Soundcloud
  </div>
</div>

<div class="row">
  <div class="span4">
    Okay we've got you as:
    <%= render :partial => 'users/user', :locals => { :user => current_user } %>
    <%= link_to "Not you?", user_omniauth_authorize_path(:soundcloud) %>
  </div>

  <div class="span8">
    <p>To use the Listen Pledge service, you must first select one of your Soundcloud tracks. This is easy, since you connected using Soundcloud when you signed up.</p>
    <p>The track you select will be paired up with a random track from another user, and then the magic happens!</p>
  </div>
</div>

<% if !@pairings.empty? %>
<div class="row">
  <div class="span12 centered">
    You already have a song that has been paired. <%= link_to 'Go check it out!', pairings_users_path %>
  </div>
</div>


<% else %>
<div id="results" class="row">
  <div id="spinner" class="span12 centered" style="display: none;">
    <%= image_tag 'loader.gif' %>
  </div>
</div>

<script type="text/javascript">
   var user_id = <%= current_user.id.to_json %>;
   var user_soundcloud_id = <%= current_user.soundcloud_id.to_json %>;

   var tracks = {};
   function get_next_batch(offset, limit, total, after_func) {
     after_func = after_func || $.noop;
     $.getJSON('http://api.soundcloud.com/users/' + user_soundcloud_id + '/tracks', {
       client_id: 'c001d040ca07ee60ab42fe4be63a08be',
       offset: offset,
       limit: limit
     }, function(json) {
       $('#spinner').hide();
       $('.row.bottom').show();
       var panel_id = 'panel-'+offset;
       $('#results').append('<div id="'+panel_id+'" class="panel"></div>')
       $(json).each(function(i, track) {
         tracks[track.id] = track;
         $('#'+panel_id).append(
             '<div class="span10" style="margin-top: 10px">' +
             '<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F' +
             track.id + '&amp;show_artwork=false&amp;color=00abef"></iframe>' +
             '</div><div class="span2 chk_cont"><input data-track-id="'+track.id+'" class="chk_import" name="import" type="radio"></div>'
         );
       });
       if((offset+limit) <= total || offset != 0) {
         $('#'+panel_id).append('<div id="'+panel_id+'-pager" class="span12 pager_cont"></div>');
	 if(offset != 0) {
	   $('#'+panel_id+'-pager').append('<div class="pager_prev span2"><a href="javascript:void(0);">Prev</a></div>');
	   $('#'+panel_id+'-pager .pager_prev a').click(function() {
             $('#'+panel_id).hide();
             $('#panel-'+(offset-limit)).show();
           });
         }
         if(offset+limit <= total) {
	   $('#'+panel_id+'-pager').append('<div class="pager_next span2"><a href="javascript:void(0);">Next</a></div>');
	   $('#'+panel_id+'-pager .pager_next a').click(function() {
             console.log($('#'+panel_id));
             $('#'+panel_id).hide();
             var next = $('#panel-'+(offset+limit));
             console.log(next);
             if(next.length) {
               next.show();
             } else {
               $('#spinner').show();
	       $('.row.bottom').hide();
               get_next_batch((offset+limit), limit, total);
             }
           });
         }
       }
       after_func();
     });
   }

   $(document).ready(function() {
     $('#spinner').show();
     $.getJSON('http://api.soundcloud.com/users/' + user_soundcloud_id, {
       client_id: 'c001d040ca07ee60ab42fe4be63a08be'
     }, function(json) {
       get_next_batch(0, 6, json.track_count, function() {
         $('#results').after('<div class="row bottom"><div class="span12 centered"><button id="btn_do_import_some">Use this song</button></div></div>');
	 $('#btn_do_import_some').click(function() {
	   var data = [];
	   $('.chk_import:checked').each(function(i, chk) {
	     console.log($(chk).attr('data-track-id'));
	     data.push(tracks[$(chk).attr('data-track-id')]);
	   });
           $('.panel').hide();
           $('.row.bottom').html('');
           $('#spinner').show();
	   $.ajax(<%= raw url_for(import_songs_path).to_json %>, {
	     data: {'tracks': data, 'user_id': user_id},
	     type: 'POST',
             success: function(json) {
               $('#spinner').hide();
	       var total = json.imported + json.repeat;
               var repeat_str = '';
               if(json.repeat) {
                 if(json.repeat == 1) {
                   repeat_str = json.repeat + ' was skipped because it&apos;s already been imported.';
                 } else {
                   repeat_str = json.repeat + ' were skipped because they&apos;ve already been imported.';
                 }
               }
	       var import_str = '';
               if(json.imported == 1) {
                 import_str = '1 was imported. ';
               } else {
                 import_str = json.imported + ' were imported. ';
               }
               var process_str = '';
               if(total == 1) {
                 process_str = 'We processed 1 song. ';
               } else {
                 process_str = 'We processed ' + total + ' songs. ';
               }
               $('#results').after('<div class="import_results"><p>'+process_str+import_str+repeat_str+'</p><p>Now that you&apos;ve imported a song, head over to <%= link_to 'your pairings page', pairings_user_path(current_user) %> to see if it&apos;s been paired yet.</p></div>');
             }
	   });
	 });
       });
     });
   });
</script>
<% end %>
