<!DOCTYPE html>
<html>
<head>
  <title>Listenpledge</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if notice || alert %>
    <div class="row">
      <div class="span12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= yield %>

  <div class="row">
    <div class="span12 centered">
      Listen Pledge was created by Travis Briggs. Any questions, comments or bug reports can be sent to <a href="mailto:admin@listenpledge.com">admin@listenpledge.com</a>
    </div>
  </div>
</div>

</body>
</html>
