<!DOCTYPE html>
<html>
<head>
  <title>Listenpledge</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8311622-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<div class="container">
  <% if notice || alert %>
    <div class="row">
      <div class="span12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= yield %>

  <div class="row">
    <div class="span12 centered">
      Listen Pledge was created by Travis Briggs. Any questions, comments or bug reports can be sent to <a href="mailto:admin@listenpledge.com">admin@listenpledge.com</a>
    </div>
  </div>
</div>

</body>
</html>
